<!DOCTYPE html>
<html lang="de">
    <head>
        {% block title %}<title>Budgeteer</title>{% endblock %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Budgeteer">
        <meta name="author" content="Thomas Lippitsch">

        {% load static %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.4.2/dist/css/uikit.min.css" />
        <link rel="stylesheet" type="text/css" href="{% static 'products/style.css' %}">
    </head>
    <body>
        <div style="height: 100px;"></div>
        <div class="uk-container">
            {% block navigation %}{% endblock %}
            {% block content %}{% endblock %}
        </div>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.4.2/dist/js/uikit.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.4.2/dist/js/uikit-icons.min.js"></script>
        {% block javascript %}{% endblock %}
    </body>
</html>
